@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: f37blanka, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #000;
  background-image: url("/public/grid.svg");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "f37blanka";
  src: url("/public/fonts/F37Blanka-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "f37incise";
  src: url("/public/fonts/F37Incise-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "f37incise";
  src: url("/public/fonts/F37Incise-Bold.woff2") format("woff2");
  font-weight: 700;
}
